#| Folders |#

.github
node_modules
MysticSession
tmp
jadibts
pluginpilot
plugins/supersecretlistener.js
src/glx/db/database.json
datasecret
src/tmplicense/*

#| Files |#

package-lock.json
database.json
.env
yarn.lock
