#| Folders |#

.github
node_modules
MysticSession
tmp
jadibts
pluginpilot
plugins/supersecretlistener.js
src/glx/db/database.json
datasecret
src/licenca/emailAtivos.json

# Ignore tudo em src/licenca, exceto .gitkeep
src/licenca/*
!src/licenca/.gitkeep

# Ignore tudo em src/tmplicense, exceto .gitkeep
src/tmplicense/*
!src/tmplicense/.gitkeep

#| Files |#

package-lock.json
database.json
.env
yarn.lock
